*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
:root{
    --navbar-height: 55px;
}

/*Navigation-Bar*/
nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
}
nav::before{
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}
nav img{
    width: 80px;
    
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    padding: 8px 12px;
    position: relative;
    display: inline-flex;
    font-family:'Bree Serif', serif;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    border-radius: 20px;
}
.nav-links ul li ::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 00.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/*Home-Section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("img-1.jpg");
    height: 90%;
    filter: blur(2px);
    -webkit-filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 1.80;
}
#home p{
    color: rgb(250, 217, 27);
    text-shadow: 6px 6px 6px black;
    text-align: center;
    font-size: 1rem;
    font-family: 'Moon Dance', cursive;
    text-shadow: 0 0 2px black;

}
#home h1{
    color: whitesmoke;
    text-shadow: 6px 6px 6px black;
    text-align: center;
    font-family: 'Moon Dance', cursive;
    text-transform: capitalize;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    border: 1px soild #f44336;
    background: #f44336;
    transition: 1s;
}
/*Course Section*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 34px;
    font-weight: 600px;
    color: #791f18;
}
p{
    color: rgb(161, 13, 230);
    font-size: 17px;
    font-weight: 350px;
    padding: 5px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: linear-gradient(pink,rgb(154, 227, 236)
    );
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box; 
    
}
.course-col p{
    color: olivedrab;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 0px rgba(172, 6, 223, 0.2);
    transition: 0.5s;
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
.layer:hover{
    background: rgba(226,0,0,0.7);
    transition: 0.5s;
}
.layer h3{
    width: 100%;
    font-weight: bold;
    color: rgb(235, 235, 235);
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    transition: 0.5s;
}
.layer:hover h3{
    top: 49%;
    opacity: 1;
}
/*Facilities Section*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
/*Contact Section*/
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background-image: url("banner.jpg");
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

footer{
    background-color: rgb(236, 171, 85);
    color: teal;
    padding: 9px 20px;
}
input[type=submit]{
    background-color: rgb(47, 95, 228);
    color: yellow;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: rgb(95, 141, 240);
}
/*Utility classes*/
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 8px;

}
.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 1.3rem;
    padding: 8px;
}
.center{
    text-align: center;
    color: black;
}
